* {
    box-sizing: border-box;
}

body {
   background-color: aqua;
   display:flex;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0 ;
   overflow: hidden;

}

.container {
    background-color: cadetblue;
    border-radius: 5px;
    box-shadow: rgb(2, 2, 41);
    width:400px;
    max-width: 100%;
  
}

.header {
    background-color:yellowgreen ;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    font-weight: bolder;

}

.form {
    padding: 30px 40px;
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
}

.form-control label {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-control input {
    display:block;
    font-family: sans-serif;
    width: 100%;
}

.form button {
    display:block;
    color: rgb(1, 17, 17);
    background-color: yellowgreen;
    margin-top: 20px;
    width:100%;
}

